.noselect {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.dot {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cur {
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.block {
  display: block;
}
.none {
  display: none;
}
.vertical {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ib {
  display: inline-block;
}
.top-title {
  line-height: 50px;
  height: 50px;
  width: 100%;
  background-color: #1286ff;
  font-size: 20px;
  color: #ffffff;
  padding-left: 20px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
}
.main-bco {
  background-color: #f2fbff;
  margin-top: 50px;
  padding-bottom: 40px;
  cursor: default;
}
.home-footer {
  cursor: default;
  padding: 25px 0px;
}
.home-footer p.text {
  font-size: 14px;
  color: #28405d;
  text-align: center;
  line-height: 1.6;
}
.home-footer p.text a {
  font-size: 14px;
  color: #28405d;
}
.home-footer p.text a:hover {
  color: #ff5959;
}
.home-footer p.text span.img {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../../images/ghs.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 4px;
  left: 0px;
  margin-right: 5px;
}
.top-detail-nav {
  height: 70px;
  margin-bottom: 10px;
  background-color: #fff;
  position: relative;
}
.top-detail-nav .top-detail-tit {
  position: absolute;
  top: 0px;
  left: 30px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  color: #28405d;
}
.top-detail-nav .top-detail-tit:before {
  content: " ";
  display: inline-block;
  width: 21px;
  height: 21px;
  position: relative;
  top: 4px;
  left: -10px;
  background: url('../../../images/addr.png') no-repeat;
  background-size: contain;
  background-position: center;
}
.top-detail-nav .bttn-back {
  display: block;
  width: 90px;
  height: 36px;
  line-height: 35px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  background-color: #1286ff;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  top: 17px;
  right: 20px;
}
.wm1200 {
  width: 1200px;
  margin: 0 auto;
}
.left-slide-lp {
  width: 232px;
  float: left;
  min-height: 1050px;
  background-color: #fff;
  padding-top: 24px;
}
.left-slide-lp .list .one {
  font-size: 16px;
  color: #28405d;
}
.left-slide-lp .list .one .top {
  height: 50px;
  line-height: 50px;
  padding-left: 48px;
  margin-bottom: 5px;
}
.left-slide-lp .list .one .top.clicked {
  color: #1286ff;
}
.left-slide-lp .list .one:hover {
  background-color: #f5f7f9;
}
.left-slide-lp .list .one.more .top.clicked {
  color: #28405d;
}
.left-slide-lp .list .one.active:hover {
  background-color: #fff;
}
.left-slide-lp .list .one.active .son:hover {
  color: #1286ff;
}
.left-slide-lp .list .one .child-list {
  display: none;
}
.left-slide-lp .list .one .child-list .son {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #28405d;
  padding-left: 81px;
}
.left-slide-lp .list .one .child-list .son:before {
  content: ' ';
  display: inline-block;
  width: 5px;
  height: 5px;
  background: url('../img/round.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: -2px;
  left: -10px;
}
.left-slide-lp .list .one.active .child-list {
  display: block;
}
.left-slide-lp .list .one.active .child-list .son.clicked {
  color: #1286ff;
}
.left-slide-lp .list .bingan:before {
  content: ' ';
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../img/binganshouye_icon.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 7px;
  left: -18px;
}
.left-slide-lp .list .changqi:before {
  content: ' ';
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../img/changqiyizhu_icon.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 7px;
  left: -18px;
}
.left-slide-lp .list .linshi:before {
  content: ' ';
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../img/linshiyizhu_icon.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 7px;
  left: -18px;
}
.left-slide-lp .list .zhuyuan:before {
  content: ' ';
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../img/ruyuanjilu_icon.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 7px;
  left: -18px;
}
.left-slide-lp .list .chuyuan:before {
  content: ' ';
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../img/chuyuanxiaojie_icon.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 7px;
  left: -18px;
}
.left-slide-lp .list .jiancha:before {
  content: ' ';
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../img/zhuyuanjiancha_icon.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 7px;
  left: -18px;
}
.left-slide-lp .list .jianyan:before {
  content: ' ';
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../img/zhuyuanjianyan_icon.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 7px;
  left: -18px;
}
.left-slide-lp .list .huizhen:before {
  content: ' ';
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../img/huizhenjilu_icon.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 7px;
  left: -18px;
}
.left-slide-lp .list .zhuanzhen:before {
  content: ' ';
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../img/zhuanzhenjilu_icon.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 7px;
  left: -18px;
}
.left-slide-lp .list .feiyong:before {
  content: ' ';
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('../img/feiyongqingdan_icon.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 7px;
  left: -18px;
}
.left-slide-lp .list .more .top {
  position: relative;
}
.left-slide-lp .list .more .top:after {
  content: ' ';
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url('../img/tri-down.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 19px;
  right: 26px;
}
.left-slide-lp .list .more.active .top {
  position: relative;
}
.left-slide-lp .list .more.active .top:after {
  background: url('../img/tri-up.png') no-repeat;
  background-size: contain;
  background-position: center;
}
.right-slide-lp {
  width: 958px;
  position: relative;
  float: right;
  min-height: 1050px;
  background-color: #fff;
}
.right-slide-lp .big-title {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 20px;
  color: #28405d;
  font-weight: bold;
}
.right-slide-lp .messg-list {
  padding: 0px 20px 120px 20px;
}
.right-slide-lp .messg-list .msg-one .title {
  padding-left: 28px;
  height: 50px;
  line-height: 49px;
  font-size: 16px;
  color: #28405d;
  font-weight: bold;
  border-bottom: solid 1px #dce5f1;
}
.right-slide-lp .messg-list .msg-one .title.xinxi:before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../img/xinxi.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 6px;
  left: -12px;
}
.right-slide-lp .messg-list .msg-one .title.gailan:before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../img/gailan.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 6px;
  left: -12px;
}
.right-slide-lp .messg-list .msg-one .title.shoushu:before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../img/shoushu.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 6px;
  left: -12px;
}
.right-slide-lp .messg-list .msg-one .title.zhengzhuang:before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../img/zhengzhuang.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 6px;
  left: -12px;
}
.right-slide-lp .messg-list .msg-one .title.zhenduan:before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../img/zhenduan.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 6px;
  left: -12px;
}
.right-slide-lp .messg-list .msg-one .title.yisheng:before {
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../img/yisheng.png') no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 6px;
  left: -12px;
}
.right-slide-lp .messg-list .msg-one .content {
  padding: 10px 20px;
  font-size: 16px;
  color: #28405d;
}
.right-slide-lp .messg-list .msg-one .content .one {
  padding: 12px 0px;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 242px;
}
.right-slide-lp .messg-list .msg-one .content .one:nth-child(4),
.right-slide-lp .messg-list .msg-one .content .one:nth-child(8) {
  width: 152px;
}
.right-slide-lp .messg-list .msg-one .content .detail {
  width: 100%;
  padding: 12px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}
.right-slide-lp .messg-list .msg-one .content .detail:nth-child(1),
.right-slide-lp .messg-list .msg-one .content .detail:nth-child(2),
.right-slide-lp .messg-list .msg-one .content .detail:nth-child(3),
.right-slide-lp .messg-list .msg-one .content .detail:nth-child(4),
.right-slide-lp .messg-list .msg-one .content .detail:nth-child(7),
.right-slide-lp .messg-list .msg-one .content .detail:nth-child(8) {
  width: 50%;
}
.right-slide-lp .messg-list .msg-one .content .name-one {
  padding: 12px 0px;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 242px;
}
.right-slide-lp .foot-title {
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 14px;
  color: #b6bfc9;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.table {
  margin: 15px 0px;
  max-width: 100%;
  background-color: transparent;
  empty-cells: show;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
}
.table.table-radius {
  border: 1px solid #ddd;
  border-radius: 2px;
}
.table.nobordered {
  margin: 5px 0px;
}
.table.nobordered th {
  background-color: #fff;
}
.table.nobordered td {
  border-top: none;
}
.table th {
  background-color: #f5f7f9;
  display: table-cell;
  font-weight: 600;
  text-align: center;
  padding: 0.7rem 0px;
  line-height: 1.6;
  vertical-align: bottom;
  border-top: 0;
  border-top-left-radius: 2px;
  border-left: none;
}
.table td {
  display: table-cell;
  padding: 0.7rem 0.2rem;
  text-align: center;
  line-height: 1.6;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
.table td:first-child {
  border-left: none;
}
